{% extends "base.html" %}

{% block title %}
    Статистика - {{st_org.org.name}}
{% endblock %}

{% block css %}
    <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block js %}
    <script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/static/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.editable.js"></script>
    <script type="text/javascript" src="/static/js/fnReloadAjax.js"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#stat_e').addClass("active");
    });
  </script>
{% endblock %}

{% block content %}
     <script type="text/javascript" charset="utf-8">
        var year = {{ current_year }};
        var oTable;
        function year_change(){
            year = $("#year option:selected").val();
            oTable.fnReloadAjax('/stats/get_stat?org={{st_org.id}}&year='+year);
        };

        $(document).ready(function() {
            oTable = $('#stat_org').dataTable({
                "bPaginate": false,
                "bFilter": false,
                "aoColumns": [
                                { "mData": "id", "sClass": "read_only" },
                                { "mData": "month", "sClass": "read_only" },
                                { "mData": "calls", "sClass": "read_only" },
                                { "mData": "requests", "sClass": "read_only" },
                             ],
                "sAjaxSource": '/stats/get_stat?org={{st_org.id}}&year='+year,
                "oLanguage": {
                                    "sUrl": "/static/lang/ru_RU.txt"
                              },
                "fnDrawCallback": function ( oSettings ) {
                    /* Need to redo the counters if filtered or sorted */
                    if ( oSettings.bSorted || oSettings.bFiltered )
                    {
                        for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ )
                        {
                            $('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
                        }
                    }
                },
                "aoColumnDefs": [
                    { "bSortable": false, "aTargets": [ 0 ] }
                ],
                "aaSorting": [[ 0, 'asc' ]]
                });  
        });
    </script>

    <div class="container marketing">
        <ul class="breadcrumb">
            <li><a href="/">Личный кабинет</a></li>
            <li><a href="{% url 'stats_group' %}">Группы статистик</a></li>
            <li class="active">Статистика - {{st_org.org.name|truncatewords:5}}</li>
        </ul>
        <div class="alert alert-info" style="font-size:12px;">
            <button class="close" data-dismiss="alert">×</button>
            <strong>Информация!</strong>
            <br>Статистика организации - {{st_org.org.name}}
        </div>
        <table class="table">
            <tr>
                <td><strong>Организация:</strong></td>
                <td>{{st_org.org.name}}</td>
            </tr>
            <tr>
                <td><strong>Cтатистика за </strong></td>
                <td>
                  <select name="year" id="year" onchange="year_change();">
                    {% for key, y in year.items %}
                      {% ifequal y current_year %}
                        <option selected value="{{y}}">{{y}}</option>
                      {% else %}
                        <option value="{{y}}">{{y}}</option>
                      {% endifequal %}
                    {% endfor %}
                  </select>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add_stats">Добавить</button>
        <div>
          <table id='stat_org' width='100%' class="table table-condensed" style="font-size:12px;">
            <thead>
              <tr>
                <td style="text-align:center;" width="5px"> № </td>
                <td width="90%" style="text-align:center;" width="35%"> Месяц </td>
                <td width="90%" style="text-align:center;" width="35%"> Обращений </td>
                <td width="90%" style="text-align:center;" width="20%"> Запросов </td>
              </tr>
            <thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <div class="modal fade" id="add_stats" tabindex="-1" role="dialog" aria-labelledby="add_stats_label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
             <form class="form-horizontal" action="" method="POST">{% csrf_token %}
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="add_stats_label">Добавить статистику за месяц</h4>
              </div>
              <div class="modal-body">
                  <input type="hidden" name="org" id="org" value="{{org.id}}">
                  <div class="form-group form-group-sm">
                    <label for="id_year" class="col-sm-4 col-sm-offset-2 control-label">Год</label>
                    <div class="col-sm-3">
                      {{ form.year }}
                    </div>
                  </div>
                  <div class="form-group form-group-sm">
                    <label for="id_month" class="col-sm-4 col-sm-offset-2 control-label">Месяц</label>
                    <div class="col-sm-3">
                      {{ form.month }}
                    </div>
                  </div>
                  <div class="form-group form-group-sm">
                    <label for="id_sum_all" class="col-sm-4 col-sm-offset-2 control-label">Количество обращений:</label>
                    <div class="col-sm-2">
                      {{ form.calls }}
                    </div>
                  </div>
                  <div class="form-group form-group-sm">
                    <label for="id_sum_all" class="col-sm-4 col-sm-offset-2 control-label">Количество запросов:</label>
                    <div class="col-sm-2">
                      {{ form.requests }}
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-sm">Сохранить</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Отмена</button>
              </div>
             </form>
            </div>
          </div>
        </div>
{% endblock %}
 
